//-------------------------------------------------------
//- COMPONENT :: CONTENT
//-------------------------------------------------------

body {
	font-family: 'Inter UI', sans-serif;
	font-weight: 400;
	color: #6c757d;
	line-height: 1.5;
	letter-spacing: 0px;
	font-size: 1.25rem;
	color: #6c757d;
}
.section {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
}

.main-body {
	width: calc(100% - 264px);
	margin-left: 264px;
	transition: width .25s ease-in, margin-left .25s ease-in;
	position: relative;
	background: #f7f9fa;

	.template-intro {
		&__avatar {
			margin-bottom: 1.5rem ;
			img {
				width: 4.5rem;
				height: 4.5rem;
			}
			.badge {
				color: #fff;
				background-color: #28a745;
				position: absolute;
				border-radius: 5px;
				font-size: 0.6rem;
				padding: 0.25em 0.4em;
			}
		}

		&__title {
			margin-bottom: 1.5rem;
			color: #212529;
			font-size: 3.5rem;
			font-weight: 500;
			line-height: 1.2;
		}

		&__text {
			margin-bottom: 1.5rem;
		}

		&__link {
			color: #007bff;
			font-size: 1rem;
			margin-right: 1.5rem;
			position: relative;

			&:hover {
				color: #0056b3;
			}

			&::after {
				content: '\f0d7';
				font-family: 'Font Awesome 5 Free';
				font-size: 10px;
				text-align: right;
				position: absolute;
				font-weight: 600;
				right: -9%;
				top: 9%;
			}
		}
	}

	.project-page, 
	.modular-component, 
	.flexible-layouts,
	.familiar-tooling {
		&__header{
			display:flex;
		}

		&__icon {
			margin-top: 2rem;
			margin-right: 2%;
			font-size: 2rem;
			color: #007bff;
		}

		&__title {
			margin-bottom: 1.5rem;
			margin-top: 1.5rem;
			color: #212529;
			font-size: 2.5rem;
			font-weight: 500;
			line-height: 1.2;
		}

		&__text {
			margin-bottom: 1.5rem;
		}

		&__link {
			color: #007bff;
			font-size: 1rem;
			margin-right: 1.5rem;
			position: relative;

			&:hover {
				color: #0056b3;
			}
		}
	}

	.modular-component {
		&__carousel {
			.carousel {
				height: 223px;
			}
		}
	}
}

// RESPONSIVE

@media (max-width: 767px) {
	.main-body{
    width: 100%;
    margin-left: 0;
  }

  &--extend {
    width: calc(100% - 70px);
    margin-left: 70px;
  }
}

@media screen and (max-width: 991px) {

	.section {
		padding-top: 2.25rem;
		padding-bottom: 2.25rem;
	}

  .main-body {
		margin-left: 0;
		width: 100%;
		margin-top: 4.2rem;

		.col-md-11 {
			width: 91.66%;
		}

		.intro {
			&__avatar {
				img {
					width: 2.5rem;
					height: auto;
				}
				.badge {
					font-size: 0.5rem;
				}
			}
			&__title {
				font-size: 2rem;
			}
		}


		.page, .component, .layout, .tool {
			&__icon{
				font-size: 1.5rem;
			}
			&__title {
				font-size: 2rem;
			}
			&__text {
				font-size: 1.25rem;
			}
		}
	}
}

@media screen and (max-width: 1139px) {
	.col-md-11 {
		width: 91.66%;
	}
}

.overlay-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  left: 0;
  top: 0;
  z-index: 1;
}
