//-------------------------------------------------------
//- COMPONENT :: THEME
//-------------------------------------------------------

.carousel {
  position: relative;
  height: 459px;
  overflow: hidden;

  &__item {
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  .carousel{
    height: 225px;
  }
}

